@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Это информативная страница компании. Здесь можно добавить информацию о компании.</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="/Frame 192.png" style="width:100%" alt="Alternate Text" />
</div>
